/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;

    .navbar-brand {
        color: #ffffff;
        font-weight: 600;
        font-size: 3rem;
        line-height: 40px;
    }

    .nav li a {
        color: #ddd;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        line-height: 40px;
        transition: all 0.4s ease-in-out;

        &:hover {
            background: transparent;
            color: #66ccff;
        }
    }

    .navbar-nav>li>a:hover,
    .navbar-nav>li>a:focus {
        background-color: transparent;
    }

    .nav li.active>a {
        background-color: transparent;
        color: #66ccff;
    }

    .navbar-toggle {
        border: none;
        padding-top: 10px;
        background-color: transparent;

        .icon-bar {
            background: #ffffff;
            border-color: transparent;
        }
    }

}

@media (min-width: 768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
    }

    .custom-navbar.top-nav-collapse {
        background: #101010;
        padding: 0;
    }
}